[Desktop Entry]
Type=Application
Name=Session Starter
Comment=Pick a set of applications to launch for this login
Exec=/home/richard/dev/gnome/gnome-session-starter/gnome-session-starter
Icon=io.github.artumi_richard.GnomeSessionStarter
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
StartupNotify=false
